.modify-container {
  padding-left: 50px;
  padding-right: 50px;
}

.header-card {
    font-size: 1.2rem;
}

.info-card {
  text-align: left;
  background-color: rgba(229, 224, 224, 0.355);
  border: 1px solid rgba(214, 211, 211, 0.563);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
}

.info-data {
  color: rgb(10, 216, 10);
  font-size: 1rem;
}

.info-title {
  color: rgb(163, 160, 160);
  padding: 0px 0px 0px 6px;
  font-size: 1rem;
  font-weight: 500;
}
